.menu-page {
  background: cornsilk;
  .card {
    // max-width: 310px;
    // width: 25%;
    // background: #000;
    .card-img-top {
      height: 100%;
      // max-width: 300px;
    }
    .card-footer{

      text-align:right;
    }
  }
}
